body {
    background: url(yay.webp);


}

.container {
    background-color:tan;
    border-radius: 15px;
    width:50%;
    height:200px;
    transform:translateY(30%);
    
    
}
.btn{
    width:40%;
    background-color: chocolate;
    color:white;
    transform:translateX(60%);
    
}
.btn:hover{
    background-color: tomato;
    color:aliceblue;
}